@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
.App {
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  color: #f5222d !important;
}
.centered {
  text-align: center;
}

.ant-btn-primary {
  background-color: #ff4d4f !important;
  border-color: #f5222d !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #fb6c6e !important;
    border-color: #f5222d !important;
}

.inline-block {
  display: inline-block !important;
}

.ant-col-3 {
  min-width: 200px !important;
}

.transparent-button {
  background-color: #ff4d4f00 !important;
  border-color: #f5222d00 !important;
}

.transparent-button span{
  color: #fb6c6e !important;
}

.accent {
  color: #f5222d;
  font-weight: 400;
}


/* Clip text element */
.clip-text {
    float: right;
    padding-top: 20px;
    padding-right: 40px;
    font-size: 6em;
    font-weight: bold;
    line-height: 1;
    position: relative;
    display: inline-block;
    text-align: right;
    /* Color fallback */
    color: #fff;
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}

.clip-text:before,
.clip-text:after {
    position: absolute;
    content: '';
}



/* Text Background (black zone) */
.clip-text:after {
    position: absolute;
    z-index: -1;
    top: .125em;
    right: .125em;
    bottom: .125em;
    left: .125em;
    background-color: #fffff;
}

/* Change the background position to display letter when the black zone isn't here */
.clip-text--no-textzone:before {
    background-position: -.65em 0;
}

.clip-text--no-textzone:after {
    content: none;
}

/* Use Background-size cover for photo background and no-repeat background */
.clip-text--cover,
.clip-text--cover:before {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
  background-position: 50% 50%;
}

/* Background image from http://thepatternlibrary.com/ and http://lorempixel.com */
.clip-text_one {
    background-image: url('http://hd.wallpaperswide.com/thumbs/simple_abstract_painting-t2.jpg');
}

.artist-title {
  font-size: 42px;
}
